<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <div class="container">
    <h1>Search Results</h1>
    <div class="grid">
      <% items.forEach(item => { %>
        <div class="card">
          <img src="<%= item.links[0].href %>" alt="<%= item.data[0].title %>">
          <div class="card-content">
            <h2><%= item.data[0].title %></h2>
            <a href="<%= item.links[0].href %>" download>Download</a>
          </div>
        </div>
      <% }) %>
    </div>
    <a class="back-button" href="/">Back to Home</a>
  </div>
</body>
</html>
